In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import matplotlib.pyplot as plt

In [4]:
s=pd.Series([1,3,5,np.nan,6,6])

In [5]:
s

0     1
1     3
2     5
3   NaN
4     6
5     6
dtype: float64

In [6]:
dates=pd.date_range('20160516', periods=6)

In [7]:
dates

DatetimeIndex(['2016-05-16', '2016-05-17', '2016-05-18', '2016-05-19',
               '2016-05-20', '2016-05-21'],
              dtype='datetime64[ns]', freq='D')

In [8]:
df=pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [9]:
df

                   A         B         C         D
2016-05-16 -0.246858 -0.785078  0.135421 -1.143747
2016-05-17 -1.603666 -1.150184 -0.766043  0.214194
2016-05-18  0.242636 -1.653231 -0.894010 -0.753225
2016-05-19 -0.737950 -0.961050  0.452468 -0.997171
2016-05-20 -0.111028 -1.091068 -0.784214 -2.420062
2016-05-21  1.728997  1.318631  0.064639 -1.005213

In [10]:
df.head()

                   A         B         C         D
2016-05-16 -0.246858 -0.785078  0.135421 -1.143747
2016-05-17 -1.603666 -1.150184 -0.766043  0.214194
2016-05-18  0.242636 -1.653231 -0.894010 -0.753225
2016-05-19 -0.737950 -0.961050  0.452468 -0.997171
2016-05-20 -0.111028 -1.091068 -0.784214 -2.420062

In [11]:
df.tail(3)

                   A         B         C         D
2016-05-19 -0.737950 -0.961050  0.452468 -0.997171
2016-05-20 -0.111028 -1.091068 -0.784214 -2.420062
2016-05-21  1.728997  1.318631  0.064639 -1.005213

In [12]:
df.index

DatetimeIndex(['2016-05-16', '2016-05-17', '2016-05-18', '2016-05-19',
               '2016-05-20', '2016-05-21'],
              dtype='datetime64[ns]', freq='D')

In [13]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [15]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.121311 -0.720330 -0.298623 -1.017537
std    1.109016  1.040387  0.581937  0.845055
min   -1.603666 -1.653231 -0.894010 -2.420062
25%   -0.615177 -1.135405 -0.779671 -1.109113
50%   -0.178943 -1.026059 -0.350702 -1.001192
75%    0.154220 -0.829071  0.117725 -0.814211
max    1.728997  1.318631  0.452468  0.214194

In [16]:
df.T

   2016-05-16  2016-05-17  2016-05-18  2016-05-19  2016-05-20  2016-05-21
A   -0.246858   -1.603666    0.242636   -0.737950   -0.111028    1.728997
B   -0.785078   -1.150184   -1.653231   -0.961050   -1.091068    1.318631
C    0.135421   -0.766043   -0.894010    0.452468   -0.784214    0.064639
D   -1.143747    0.214194   -0.753225   -0.997171   -2.420062   -1.005213

In [17]:
df['A']

2016-05-16   -0.246858
2016-05-17   -1.603666
2016-05-18    0.242636
2016-05-19   -0.737950
2016-05-20   -0.111028
2016-05-21    1.728997
Freq: D, Name: A, dtype: float64

In [18]:
df

                   A         B         C         D
2016-05-16 -0.246858 -0.785078  0.135421 -1.143747
2016-05-17 -1.603666 -1.150184 -0.766043  0.214194
2016-05-18  0.242636 -1.653231 -0.894010 -0.753225
2016-05-19 -0.737950 -0.961050  0.452468 -0.997171
2016-05-20 -0.111028 -1.091068 -0.784214 -2.420062
2016-05-21  1.728997  1.318631  0.064639 -1.005213

In [19]:
df.iloc[3]

A   -0.737950
B   -0.961050
C    0.452468
D   -0.997171
Name: 2016-05-19 00:00:00, dtype: float64

In [20]:
df1=df.reindex(index=dates[0:4],columns=list(df.columns)+['E'])

In [21]:
df1.loc[dates[0]:dates[1],'E']=1

In [22]:
df1

                   A         B         C         D   E
2016-05-16 -0.246858 -0.785078  0.135421 -1.143747   1
2016-05-17 -1.603666 -1.150184 -0.766043  0.214194   1
2016-05-18  0.242636 -1.653231 -0.894010 -0.753225 NaN
2016-05-19 -0.737950 -0.961050  0.452468 -0.997171 NaN

In [23]:
df=pd.DataFrame(np.random.randn(10,4), columns=['A','B','C','D'])

In [24]:
df

          A         B         C         D
0  0.439839  0.092692 -2.630439  1.197937
1  0.127783  1.028383 -0.215977  1.594327
2  0.224136 -1.171188 -0.519314 -0.064191
3 -1.270736 -0.535613  0.463444  0.884665
4 -0.323018 -0.614323 -0.216941  0.173079
5 -0.264983 -0.688713 -1.078985  0.426051
6  0.971866 -0.083031 -1.686346 -1.258322
7  0.909714 -0.526487 -0.534334  1.434607
8  0.504290  0.048841  0.857453 -0.345902
9 -1.614677 -0.324153  2.720526 -0.435368

In [25]:
df2=pd.DataFrame(np.random.randn(7,3), columns=['A','B','C'])

In [26]:
df2

          A         B         C
0  1.069380  0.146264 -0.531350
1 -0.009271  0.768182 -1.363870
2  0.715470 -1.198672  0.910554
3  0.034332  0.417101  0.457262
4  0.475081  0.500939  0.683704
5 -1.030499 -1.559162  1.201614
6 -1.158183 -0.835096 -0.391374

In [27]:
df+df2

          A         B         C   D
0  1.509219  0.238956 -3.161789 NaN
1  0.118512  1.796565 -1.579847 NaN
2  0.939607 -2.369860  0.391240 NaN
3 -1.236405 -0.118511  0.920706 NaN
4  0.152063 -0.113384  0.466763 NaN
5 -1.295481 -2.247875  0.122629 NaN
6 -0.186318 -0.918127 -2.077720 NaN
7       NaN       NaN       NaN NaN
8       NaN       NaN       NaN NaN
9       NaN       NaN       NaN NaN

In [28]:
arrays=[['bar','bar','baz','baz','foo','foo','qux','qux']]

In [29]:
arrays.append(['one','two','one','two','one','two','one','two'])

In [30]:
arrays

[['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
 ['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']]

In [31]:
tuples=list(zip(*arrays))

In [32]:
tuples

[('bar', 'one'),
 ('bar', 'two'),
 ('baz', 'one'),
 ('baz', 'two'),
 ('foo', 'one'),
 ('foo', 'two'),
 ('qux', 'one'),
 ('qux', 'two')]

In [35]:
index=pd.MultiIndex.from_tuples(tuples,names=['first', 'second'])

In [36]:
index

MultiIndex(levels=[['bar', 'baz', 'foo', 'qux'], ['one', 'two']],
           labels=[[0, 0, 1, 1, 2, 2, 3, 3], [0, 1, 0, 1, 0, 1, 0, 1]],
           names=['first', 'second'])

In [37]:
s=pd.Series(np.random.randn(8), index=index)

In [38]:
s

first  second
bar    one       1.241224
       two       1.629087
baz    one      -0.500885
       two      -1.306110
foo    one      -0.963887
       two      -1.068626
qux    one      -2.770073
       two       1.407302
dtype: float64

In [39]:
s['bar']['one']

1.2412239939240721

In [40]:
arrays

[['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
 ['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']]

In [41]:
df=pd.DataFrame(np.random.randn(8,4), index=arrays)

In [42]:
df

                0         1         2         3
bar one  1.809570  1.168633 -0.019594  0.614874
    two  2.098120 -0.011555 -0.352389 -0.454802
baz one  1.431700  0.564988  2.142113 -1.585888
    two  0.668214 -0.295667 -1.750780  1.014738
foo one -0.120056  0.898448 -0.348344 -0.039958
    two -0.408401 -0.123888  1.626759 -0.516641
qux one  0.027721 -0.643360 -1.673742 -2.105264
    two  0.130858 -0.190657  1.287604  0.131591

In [44]:
for line in df.itertuples():
    print(line)

Pandas(Index=('bar', 'one'), _1=1.8095701802171302, _2=1.1686327574558959, _3=-0.019594348535743794, _4=0.61487408750794914)
Pandas(Index=('bar', 'two'), _1=2.0981204988884348, _2=-0.01155541154451239, _3=-0.35238935417508988, _4=-0.45480181903830408)
Pandas(Index=('baz', 'one'), _1=1.4317000045068604, _2=0.56498775479743857, _3=2.1421125256691376, _4=-1.5858877681853345)
Pandas(Index=('baz', 'two'), _1=0.66821381908904265, _2=-0.29566686167813355, _3=-1.7507795291259622, _4=1.0147382127458042)
Pandas(Index=('foo', 'one'), _1=-0.12005592674101619, _2=0.89844811708744554, _3=-0.34834396258737943, _4=-0.03995750676191389)
Pandas(Index=('foo', 'two'), _1=-0.40840060883391333, _2=-0.12388765019329308, _3=1.626758762429529, _4=-0.51664129085895294)
Pandas(Index=('qux', 'one'), _1=0.027720666758203748, _2=-0.6433599311439212, _3=-1.6737421005884663, _4=-2.1052638806616826)
Pandas(Index=('qux', 'two'), _1=0.13085801363938224, _2=-0.19065707521070324, _3=1.2876039901157901, _4=0.1315905691881234)

In [45]:
df.columns=['zero','one','two','three']

In [46]:
df

             zero       one       two     three
bar one  1.809570  1.168633 -0.019594  0.614874
    two  2.098120 -0.011555 -0.352389 -0.454802
baz one  1.431700  0.564988  2.142113 -1.585888
    two  0.668214 -0.295667 -1.750780  1.014738
foo one -0.120056  0.898448 -0.348344 -0.039958
    two -0.408401 -0.123888  1.626759 -0.516641
qux one  0.027721 -0.643360 -1.673742 -2.105264
    two  0.130858 -0.190657  1.287604  0.131591

In [48]:
for line in df.itertuples():
    print(line)

Pandas(Index=('bar', 'one'), zero=1.8095701802171302, one=1.1686327574558959, two=-0.019594348535743794, three=0.61487408750794914)
Pandas(Index=('bar', 'two'), zero=2.0981204988884348, one=-0.01155541154451239, two=-0.35238935417508988, three=-0.45480181903830408)
Pandas(Index=('baz', 'one'), zero=1.4317000045068604, one=0.56498775479743857, two=2.1421125256691376, three=-1.5858877681853345)
Pandas(Index=('baz', 'two'), zero=0.66821381908904265, one=-0.29566686167813355, two=-1.7507795291259622, three=1.0147382127458042)
Pandas(Index=('foo', 'one'), zero=-0.12005592674101619, one=0.89844811708744554, two=-0.34834396258737943, three=-0.03995750676191389)
Pandas(Index=('foo', 'two'), zero=-0.40840060883391333, one=-0.12388765019329308, two=1.626758762429529, three=-0.51664129085895294)
Pandas(Index=('qux', 'one'), zero=0.027720666758203748, one=-0.6433599311439212, two=-1.6737421005884663, three=-2.1052638806616826)
Pandas(Index=('qux', 'two'), zero=0.13085801363938224, one=-0.19065707521070324, two=1.2876039901157901, three=0.1315905691881234)

In [49]:
arrays = [[1, 1, 2, 2], ['red', 'blue', 'red', 'blue']]

In [51]:
pd.MultiIndex.from_arrays(arrays, names=('number', 'color'))

MultiIndex(levels=[[1, 2], ['blue', 'red']],
           labels=[[0, 0, 1, 1], [1, 0, 1, 0]],
           names=['number', 'color'])