In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import matplotlib.pyplot as plt

In [4]:
s=pd.Series([1,3,5,np.nan,6,6])

In [5]:
s

0     1
1     3
2     5
3   NaN
4     6
5     6
dtype: float64

In [6]:
dates=pd.date_range('20160516', periods=6)

In [7]:
dates

DatetimeIndex(['2016-05-16', '2016-05-17', '2016-05-18', '2016-05-19',
               '2016-05-20', '2016-05-21'],
              dtype='datetime64[ns]', freq='D')

In [8]:
df=pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [9]:
df

                   A         B         C         D
2016-05-16 -0.246858 -0.785078  0.135421 -1.143747
2016-05-17 -1.603666 -1.150184 -0.766043  0.214194
2016-05-18  0.242636 -1.653231 -0.894010 -0.753225
2016-05-19 -0.737950 -0.961050  0.452468 -0.997171
2016-05-20 -0.111028 -1.091068 -0.784214 -2.420062
2016-05-21  1.728997  1.318631  0.064639 -1.005213

In [10]:
df.head()

                   A         B         C         D
2016-05-16 -0.246858 -0.785078  0.135421 -1.143747
2016-05-17 -1.603666 -1.150184 -0.766043  0.214194
2016-05-18  0.242636 -1.653231 -0.894010 -0.753225
2016-05-19 -0.737950 -0.961050  0.452468 -0.997171
2016-05-20 -0.111028 -1.091068 -0.784214 -2.420062

In [11]:
df.tail(3)

                   A         B         C         D
2016-05-19 -0.737950 -0.961050  0.452468 -0.997171
2016-05-20 -0.111028 -1.091068 -0.784214 -2.420062
2016-05-21  1.728997  1.318631  0.064639 -1.005213

In [12]:
df.index

DatetimeIndex(['2016-05-16', '2016-05-17', '2016-05-18', '2016-05-19',
               '2016-05-20', '2016-05-21'],
              dtype='datetime64[ns]', freq='D')

In [13]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [15]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.121311 -0.720330 -0.298623 -1.017537
std    1.109016  1.040387  0.581937  0.845055
min   -1.603666 -1.653231 -0.894010 -2.420062
25%   -0.615177 -1.135405 -0.779671 -1.109113
50%   -0.178943 -1.026059 -0.350702 -1.001192
75%    0.154220 -0.829071  0.117725 -0.814211
max    1.728997  1.318631  0.452468  0.214194

In [16]:
df.T

   2016-05-16  2016-05-17  2016-05-18  2016-05-19  2016-05-20  2016-05-21
A   -0.246858   -1.603666    0.242636   -0.737950   -0.111028    1.728997
B   -0.785078   -1.150184   -1.653231   -0.961050   -1.091068    1.318631
C    0.135421   -0.766043   -0.894010    0.452468   -0.784214    0.064639
D   -1.143747    0.214194   -0.753225   -0.997171   -2.420062   -1.005213

In [17]:
df['A']

2016-05-16   -0.246858
2016-05-17   -1.603666
2016-05-18    0.242636
2016-05-19   -0.737950
2016-05-20   -0.111028
2016-05-21    1.728997
Freq: D, Name: A, dtype: float64

In [18]:
df

                   A         B         C         D
2016-05-16 -0.246858 -0.785078  0.135421 -1.143747
2016-05-17 -1.603666 -1.150184 -0.766043  0.214194
2016-05-18  0.242636 -1.653231 -0.894010 -0.753225
2016-05-19 -0.737950 -0.961050  0.452468 -0.997171
2016-05-20 -0.111028 -1.091068 -0.784214 -2.420062
2016-05-21  1.728997  1.318631  0.064639 -1.005213

In [19]:
df.iloc[3]

A   -0.737950
B   -0.961050
C    0.452468
D   -0.997171
Name: 2016-05-19 00:00:00, dtype: float64

In [20]:
df1=df.reindex(index=dates[0:4],columns=list(df.columns)+['E'])

In [21]:
df1.loc[dates[0]:dates[1],'E']=1

In [22]:
df1

                   A         B         C         D   E
2016-05-16 -0.246858 -0.785078  0.135421 -1.143747   1
2016-05-17 -1.603666 -1.150184 -0.766043  0.214194   1
2016-05-18  0.242636 -1.653231 -0.894010 -0.753225 NaN
2016-05-19 -0.737950 -0.961050  0.452468 -0.997171 NaN